/* frankiezafe 2015 08 17: adapation */

body { 
    /*color: #454a40;*/
    color: #101010;
}

#b-edit {
    background: #D1461B;
    color: #FFF;
    font-weight: bold;
    padding: 7px 10px 7px 10px;
    margin-top: -2px;
}

.nav-tabs-lighter.nav .open > a, .nav-tabs-lighter.nav .open > a:hover, .nav-tabs-lighter.nav .open > a:focus {
    border-color: #EB8667;
    background-color: #D1461B;
}

.col-md-6 {
	width: 100%;
	margin: 0;
	position: absolute;
	top: 82px;
	right: 300px;
}
.nav > li > a { 
/*	padding: 15px 18px;*/
	padding: 10px 13px;
}
.logo-container img { max-width: 100px; }
.logo-container a { padding : 0; }

h1,.h1 { font-size: 36px; }
h2,.h2 { font-size: 32px; padding-top: 20px; padding-bottom: 10px; border-bottom: 1px solid #aab59b; }
h3,.h3 { font-size: 26px; }
h4,.h4 { font-size: 24px; }
h5,.h5 { font-size: 21px; }
h6,.h6 { font-size: 18px; }

h3,.h3,h4,.h4,h5,.h5,h6,.h6 { padding-top: 10px; padding-bottom: 5px; border-bottom: 1px solid #cedbbc;  }

div.center { text-align: center; }

.container-fluid {
/*	padding-right: 310px;*/
/*	padding-left: 50px;*/
/*	width: auto;*/
}

.input-group {
	position: fixed;
	top: 2px;
	right: 27px;
	margin-right: 0;
	width: 260px;
}

.input-group .form-control {
	width: 214px;
}

/* image */
.thumbcaption { font-size: 0.8em; }

/* content menu */
.mw-content-ltr .toc ul ul, .mw-content-ltr #toc ul ul { margin: 0px 0px 0px 1em; }
#toc, .toc { 
/*	width: 23%;*/
/*	margin-top: 0;*/
	width: 260px;
	margin-top: 0px;
	position: fixed;
	top: 40px;
	right: 27px;
	z-index: 1000;
	font-size: 14px;
	opacity: 0.9;
}
#toc {
    max-height: 200px;
    overflow: auto;
    display: block;
}
#toc a, .toc a {
	color: #4A190B;
}

#toc #toctitle, .toc #toctitle {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}
#toc .toctoggle, .toc .toctoggle {
	margin: 8px 0 0 10px;
	float: left;
}
#toc h2, .toc h2 { 
/*	margin: 5px 0 10px 0;*/
/*	font-size: 24px; */
	margin: 7px 0px 10px;
	font-size: 16px;
	padding-top: 0; 
	padding-bottom: 0; 
	border-bottom: none;
	float: left;
} 

.toc .tocnumber {
	background: #D1461B none repeat scroll 0% 0%;
	color: #ffffff;
	padding: 0 5px;
	font-size: 0.8em;
	border-radius: 3px;
}
.toc ul li a {
	padding: 1px 5px 1px 5px;
	border-radius: 3px;
}
.toc ul li a:hover { background: #ac2900; }
.toc ul li a:hover .toctext { color: #fff; }

/* forms */
.mw-input input,
.mw-userrights-groups input {
	display: block;
	float: left;
	margin-top: 3px;
}

/*footer*/
.buttons-whitespace-social { margin-top: 20px; }

@media (min-width: 768px) {
	.container-fluid { padding: 20px; }
/*	.col-md-6 { top: 15px; }*/
/*	#toc, .toc { top: 15px; }*/
}

@media (min-width: 992px) {
	.container-fluid { padding: 30px; }
	.col-md-6 { top: 82px; }
	#toc, .toc { top: 40px; }
}

@media (max-width: 991px) {
	.col-md-6 { top: 15px; }
	#toc, .toc { top: 15px; }
}

@media (max-width: 768px) {
	.col-md-6 { top: 15px; right: 10px; }
	#toc, .toc { display: none; }
}
